@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body{
  background: whitesmoke;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  height: 600px;
  width: 500px;
  border: solid black 5px;
  border-radius: 1rem;
}

.login-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  height: 350px;
  width: 500px;
  border: solid black 5px;
  border-radius: 1rem;
}

input[type=text], input[type=password] {
  width: 100%;
  color: black;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border: none;
  border-radius: 0.75rem;
  background: #f1f1f1;
}

button{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  margin:auto;
  border-radius: 9999px;
  color: black;
}


